body {
  /* background: #e7e5e4; */
  font-size: 16px;
}

.header {
  /* background: red; */
  height: 30vh;
  min-height: 225px;
}

.intro {
  /* background: orange; */
  width: 200px;
  margin: 0 auto;
  text-align: justify;
  text-align-last: justify;
  position: relative;
  top: 30%;
}

h1 {
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.3em;
  font-style: italic;
}

h2,
p {
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.9em;
  font-weight: 300;
}

.body {
  /* background: yellow; */
  max-width: 600px;
  margin: 0 auto;
  line-height: normal;
}

.year {
  /* background: green; */
  text-align: right;
}

.graphics-container {
  /* background: blue; */
  display: flex;
  padding-bottom: 50px;
  align-items: center;
}

.caption {
  /* background: purple; */
  text-align: left;
  margin-right: 25px;
}

h3 {
  font-family: "Noto Sans Mono", monospace;
  font-size: 1em;
  font-weight: 400;
}

.graphics-container img {
  width: 300px;
}

img:hover {
  opacity: 0.5;
  cursor: pointer;
}

img {
  border-radius: 4px;
}

img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.footer {
  height: 30vh;
}

.outro {
  /* background: green; */
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 30%;
  line-height: normal;
}

em {
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 650px) {
  .body,
  .outro {
    padding-left: 25px;
    padding-right: 25px;
  }

  .graphics-container {
    /* background: red; */
    display: flex;
    flex-direction: column;
  }

  .graphics-container img {
    width: 100%;
  }

  .caption {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}
